<div class="ui inverted segment">
    <div class="ui inverted compact fixed menu" style="background: #2185d0; min-width: 900px;">
        <div class="ui container">
            <div class="header item">
                <i class="icon music"></i><a href="/">Vinyl Shop</a>
            </div>

            <a href="/1" class="item">Classic Rock</a>
            <a href="/2" class="item">Blues</a>
            <a href="/3" class="item">Hard Rock</a>
            <a href="/4" class="item">Pop</a>
            <a href="/5" class="item">Country</a>
            <a href="/6" class="item">Soundtracks</a>
        </div>

        <div class="right menu">
            <a href="/login" class="ui item">Login</a>
            <a href="/gdisconnect" class="ui item">Logout</a>
            <a href="/catalog/myvinyls/" class="ui item">My Vinyls</a>
        </div>
    </div>


</div>
